
.container-login{
    align-items:flex-start;
}

main {
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    margin-top: 80px;
    padding: 5px 25px;
}
main .title-header{
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
main .title-header h1{
    color: white;
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-36);
   
}
main .title-header .select-contract{
    margin-left: 10px;
    background-color: var(--bg-color-05);
    border: 0px;
    border-radius: 10px;
    box-shadow: var(--shadow-bottom);
    padding: 2px 15px;
    color: white;
}

main .content-projection{
    margin-top: 28px;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--bg-color-05);
}

main .content-projection p {
    color: white;
    background-color: transparent;
    font-size: 12px;
    padding: 10px;

}

main .content-projection button {
    color: var( --bg-color-button) ;
    border: 1px var(--bg-color-05) solid;
    float: right;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: var(--font-size-12);
}

main h2{
    margin-top: var(--margin-title);
    color: white;
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-36);
}

main .content-list-contract{
    margin-top: var(--margin-title);
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .content-list-contract .indices-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main .content-list-contract .indices-list p {
    color: var(--text-color-beige);
}

main .content-list-contract .list-contract {
    width: 100%;
}

main .content-list-contract .list-contract li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}