
.main-msg{
    padding: 5px 0px;
}

.content-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
}

.content-form .photo-ptofile{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-form form {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
}
.content-form form .upload-photo{
    color: white;
    font-weight: 600;
    padding: 20px 0px 30px 0px;
}
.content-form form .label{
    color: var(--text-color-beige);
    display: block;
    padding: 10px 10px;
}
.content-form form input{
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    background: var(--bg-color-05);
    border:none;
    box-shadow: var(--shadow-bottom);
    padding: 10px 50px;
    border-radius: 20px;
    font-size: var(--font-size-14);
    transition: 0.5s all ease-in-out;
}

.content-form form input:focus{
    background-color: rgba(0, 0, 0, 0.4);
    outline: none;

}

.content-form .edit-form{
    position: relative;
}
.content-form  .icon-edit{
    color: #FFF500;
    position: absolute;
    bottom:6px;
    right: 10px;
}